<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IRacing Stats</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href='<%= cssPath %>' rel='stylesheet'>
    <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script>window.ReactEnvironment = { isClient: true, isServer: false }; <%- intialStoreState %></script>
    <div><%- reactString %></div>
    <script type="text/javascript" src="<%= jsPath %>"></script>
  </body>
</html>
